@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    overflow-y: auto; 
    background-color: #0e2a47; 
    z-index: 1000; 
}

.main-content {
    margin-left: 250px; 
}
